*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    body{
        background-color: #f1f1f1;
        display: flex;
        justify-content: center;
    }
        #wrapper{
            display: flex;
            background-color: aquamarine;
        }
            .menu{
                padding: 15px;
            }
        .main
            .header{
                background-color: rgb(5, 108, 108, 0.6);
                padding: 8px;
            }
            .content{
                padding: 8px;
                padding-top: 0;
            }
                .content h3{
                    padding: 8px 0 10px 0;
                }
            .footer {
                background-color: rgb(99, 56, 240);
            }